<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Project_CTM.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Project_CTM.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Project_CTM.My.MySettings.ConnectionDB" connectionString="Data Source=.\sqlexpress;Initial Catalog=ctm_kr;Persist Security Info=True;User ID=sa;Password=admin123" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.11.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <applicationSettings>
    <Project_CTM.My.MySettings>
      <setting name="ButtonCateSize" serializeAs="String">
        <value>140, 80</value>
      </setting>
      <setting name="ButtonItemSize" serializeAs="String">
        <value>140, 80</value>
      </setting>
      <setting name="ButtonFont" serializeAs="String">
        <value>Tahoma, 12pt</value>
      </setting>
    </Project_CTM.My.MySettings>
    <Project_Hiveup.My.MySettings>
      <setting name="ButtonCateSize" serializeAs="String">
        <value>140, 80</value>
      </setting>
      <setting name="ButtonItemSize" serializeAs="String">
        <value>140, 80</value>
      </setting>
      <setting name="ButtonFont" serializeAs="String">
        <value>Tahoma, 12pt</value>
      </setting>
    </Project_Hiveup.My.MySettings>
  </applicationSettings>
  <userSettings>
    <Project_CTM.My.MySettings>
      <setting name="Panel_POS_size" serializeAs="String">
        <value>100, 100</value>
      </setting>
      <setting name="Split1_panel1" serializeAs="String">
        <value>200, 200</value>
      </setting>
      <setting name="Comport" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="BillCopies" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="QrThaiParNerId" serializeAs="String">
        <value>CTM004</value>
      </setting>
      <setting name="QrThaiParNerName" serializeAs="String">
        <value>Cha Tra Mue</value>
      </setting>
      <setting name="QrThaiPartnerSecret" serializeAs="String">
        <value>WJ4V6SXA8tk3Kpj0XXY9l8iNBkRtGfCCWr5UE7hy0Y66Pz5SSUSb5vsUSrBCYIr9</value>
      </setting>
      <setting name="QrThaiMerchantId" serializeAs="String">
        <value>KB000001518278</value>
      </setting>
      <setting name="QrAliPartnerId" serializeAs="String">
        <value>PTR0000030</value>
      </setting>
      <setting name="QrAliPartnerSecret" serializeAs="String">
        <value>Qxdl5KZfISQFqC1JNzsxzhGDZmecmU9oa4sgfN6oVipR3oX6t2w97UvCQPEh8PDo</value>
      </setting>
      <setting name="QrAliMerchantId" serializeAs="String">
        <value>EXT01000250227</value>
      </setting>
      <setting name="AliTerminal_id" serializeAs="String">
        <value>55101944</value>
      </setting>
      <setting name="WechatTerminal_id" serializeAs="String">
        <value>55202387</value>
      </setting>
      <setting name="Ali_Sub_MID" serializeAs="String">
        <value>401011796876001</value>
      </setting>
      <setting name="WeChat_Sub_MID" serializeAs="String">
        <value>401011796884001</value>
      </setting>
      <setting name="QrDb_Name" serializeAs="String">
        <value>hiveup_ctmicon</value>
      </setting>
    </Project_CTM.My.MySettings>
  </userSettings>
</configuration>